.crossfit {
  min-height: 991px;
  // padding-top: 490px;
  background: #131619;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 71px;
  padding-right: 71px;
  // margin-bottom: 128px;
  &__descr {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: min(30px, 1.56vw);
    line-height: 127%;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: end;
    // padding-left: 120px;
    padding-left: 60px;
    &::before {
      content: "";
      width: min(194px, 10.1vw);
      height: min(194px, 10.1vw);
      margin-right: 30px;
      background: url("../images/crossfit-arrow.svg") center / contain no-repeat;
    }
  }
  &__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: min(18.75vw, 365px);
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
  }
}
